// ----- Reset -----
@import './partials/reset';

// ----- Fonts -----
@import './partials/fonts';

//  ----- Flex Classes ----- 
@import './partials/flex';

//  ----- Variables ----- 
@import './partials/variables';

//  ----- Components ----- 
// Login
@import './components/login.scss';

// Admin Home page
@import './components/admin-home.scss';

// Header
@import './components/header.scss';

// Footer
@import './components/footer.scss';

// Home Page
@import './components/home_page.scss';

// Index / Shop
@import './components/index.scss';

// Create
@import './components/create.scss';

// Show
@import './components/show.scss';

// Scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: $fourthColor;
}

::-webkit-scrollbar-thumb {
background: $firstColor;
}

// General Rules
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-container {
    width: 80%;
    margin: 0 auto;
}