// Reset
@import './partials/reset';

// Fonts
@import './partials/fonts';

// Flex Classes
@import './partials/flex';

// Components
// Header
@import './components/header.scss';

// General Rules
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-container {
    width: 80%;
    margin: 0 auto;
}