// Login
.container {
    height: 100vh;
    background-color: $firstColor;
    position: relative;
    img {
        text-align: center;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        filter: brightness(5) saturate(0);
    }
    .container-login {
        width: 30%;
        // height: 350px;
        padding: 35px 50px;
        border-radius: 15px;
        background-color: $secondColor;
        box-shadow: 0px 6px 6px 6px rgba(0,0,0,0.28);
        input, label {
            display: block;
            margin: 15px 0;
        }
        label {
            color: $firstColor;
            font-weight: bold;
            font-size: 20px;
        }
        input {
            width: 100%;
            height: 40px;
            padding: 10px;
            border-radius: 15px;
            border-color: $firstColor;
            &:focus {
                outline: none;
            }
        }
        a {
            display: inline-block;
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 15px;
            background-color: $firstColor;
            color: $secondColor;
            font-weight: bold;
        }
    }
}